{% if request.user.is_authenticated %}
  <p>{{request.user}}</p>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}
<h1>My Contacts </h1>
<h1>Total Contacts: {{count}}</h1>
<a href="{% url 'createcontact' %}">Add Contact</a>
<a href="{% url 'contactcsv' %}">Export Data</a>
<form method="GET">
  <input type="text" name="search-area" value={{search_input}}>
  <input type="submit" name="" value="Search">
</form>
<table>
    <tr>
        <th>Contacts</th>
    </tr>
    {% for Contact in contacts %}
    <tr>
        <td>{{Contact.fname}} {{Contact.lname}}</td>
        <td><a href="{% url 'contactinfo' Contact.cid %}">View</a></td>
        <td><a href="{% url 'contactupdate' Contact.cid %}">Edit</a></td>
        <td><a href="{% url 'contactdelete' Contact.cid %}">Delete</a></td>
    </tr>
    {% empty %}
      <h3>No Contacts</h3>
    {% endfor %}
</table>>
