<h1>Contact Information</h1>
<p>First Name: {{contactdetail.fname}}</p>
<p>Last Name: {{contactdetail.lname}}</p>
<p>Date of Birth: {{contactdetail.DOB}}</p>
<p>Phone Number: {{contactdetail.phnumber}}</p>
<p>Alternate Phone Number: {{contactdetail.phnumberalt}}</p>
<p>Street Address: {{contactdetail.Staddress}}</p>
<p>City: {{contactdetail.city}}</p>
<p>State: {{contactdetail.state}}</p>
<p>ZipCode: {{contactdetail.zipcode}}</p>
<p>Country: {{contactdetail.country}}</p>
<form action="{% url 'contacts' %}">
    <input type="submit" value="Go Back" />
</form>
