<h3>Task Form</h3>
<form action="{% url 'contacts' %}">
    <input type="submit" value="Go Back" />
</form>
{% if contact.photo.name != 'default.png' %}
<img src='{{ contact.photo.url }}' width="250" height="250" />
<form action="{% url 'imgdelete' contact.cid %}">
    <input type="submit" value="Delete Image" /> <p>Caution: Image will be delete on click</p>
</form>
{% else %}
<img src='{{ contact.photo.url }}' width="250" height="250" />
<p>can add user specific Image</p>{% endif %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit">
</form>
