{% extends 'Contacts/main.html' %}
{% block content%}
<div class="header-bar">
  <a href="{% url 'contacts' %}"> &#8592; Back</a>

</div>
<div class="card-body">
{% if contact.cid %}
{% if contact.photo.name != 'default.png'  %}
<img src='{{ contact.photo.url }}' width="250" height="250" />

<form action="{% url 'imgdelete' contact.cid %}">
    <input type="submit" value="Delete Image" /> <p>Caution: Image will be delete on click</p>
</form>
{% else %}
<p>User can add custom Image</p>
{% endif %}
{% endif %}

<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <div class="header-bar">
  <input class="button" type="submit" value="Submit">
  </div>
</form>
</div>
{% endblock content %}
